* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f5f3fc;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    background-color: #f5f3fc;
  }
  
  header h1 {
    font-size: 20px;
    color: #6a5acd;
    margin-left: 400px;
  }
  
  header p {
    font-size: 14px;
    color: #333;
  }
  
  main {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
  }
  
 .minhas-tarefas {
  background-color: #f3f1ff;
  padding-top: 100px;
  border-radius: 8px;
  width: 100%;
  margin-left: -1px;
}

  
  .add-tarefa h2 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .form {
    display: flex;
    gap: 10px;
  }
  
  .form input {
    flex: 1;
    padding: 8px;
    border: 1px solid #7065F0;
    border-radius: 6px;
    height: 50px;
    background-color: #E4E1FF;
    color: #7065F0;
  }
  
  .form button {
    background-color: #7065F0;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    height: 50px;
    width: 110px;
  }

  .titulo-tarefas {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .titulo-tarefas h3 {
    font-size: 15px;
  }
  
  .titulo-tarefas span {
    font-size: 13px;
    color: #555555;
  }
  
  .minhas-tarefas p {
    font-size: 13px;
    margin-bottom: 15px;
    color: #555;
  }
  
  
  .tarefa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid #7065F0;
    color: #7065F0;
  }
  
  .conteudo-tarefa {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .tarefa p {
    font-size: 0.85rem;
    color: #666;
    margin: 0;
    text-align: left;
  }
  
  .tarefa.pendente {
    background-color: #E4E1FF;
}

  .tarefa.concluida {
    background-color: #E4E1FF;
  }
